<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div id='app'>
    <!-- 如果props 中接受父组件数据的变量是驼峰命名的话需要将驼峰命名拆开 child-nums-->
    <mycpn :child-nums='nums' :c-message=message></mycpn>
  </div>

  <template id="cpn">
    <ul>
      <h2>{{cMessage}}</h2>
      <!-- <li v-for="(book, index) in cbooks"> {{index}} -- {{book}}</li> -->
      <li v-for="(n, index) in childNums"> {{index}} --号码: {{n}}</li>
    </ul>
  </template>
  
<script src="../../js/vue.js"></script>
<script> 

  const mycpn = {
    template : "#cpn",
    // 写法1：props 值类型为数组
    // props:["cbooks"]


    //  写法2：props 值类型最常见的是对象
    props:{
      //  注意点1 子组件接受父组件数据的变量 不能用驼峰命名，不然没有效果，原因暂时未知！ 坑！！！！！
      childNums: Array,   
      cMessage: {
        type: String,
        default: "hello chenbolin",
        required: true    //  注意点2: 有了该参数，那么子组件做中一定需要传值，不然会报错
      },
    }
  }

  const app = new Vue({
    el: '#app',
    data:{
      message:"hello, world!",
      firstName: 'Kobe',
      lastName: 'Bryant',
      counter: 100,
      books:["kobe自传", "james自传", "Python自传", "Java自传"],
      nums: [24, 23, 3, 11, 15, 47]
    },
    methods:{
      test(){
        console.log("test_log!")
      }
    },
    components:{
      mycpn,
    }
  })
</script>  
</body>
</html>