<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div id='app'>
    {{ message }}
    <h2>{{firstName + ' ' + lastName}}</h2>
    <h2>{{counter * 2}}</h2>
    <!-- 1. v-for遍历数组 不使用索引值-->
    <ul>
      <li v-for='item in names'> {{item}}</li>
    </ul>
    <!-- 2. v-for遍历数组 使用索引值-->
    <ul>
      <li v-for='(item, index) in names'>{{index + 1}} {{item}}</li>
    </ul>
  </div>

<script src="../../js/vue.js"></script>
<script> 
  const app = new Vue({
    el: '#app',
    data:{
      message:"hello, world!",
      firstName: 'Kobe',
      lastName: 'Bryant',
      counter: 100,
      names:["kobe", 'james', 'curry']
    }
  })
</script>  
</body>
</html>